#fondo1 {
    height: 100%;
    background-color: bisque;
    background-image: url("../img/agencia.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#fondo {
    height: 100%;
    background-color: bisque;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#btn-1 {
    background-color: transparent;
    border-color: transparent;
    margin-top: 15%;
    margin-left: 30%;
    height: 68vh;
    width: 10vw;
}

#layton {
    height: 66vh;
    width: 10vw;
}

#enlace1 {
    font-size: 15vh;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.relleno {
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.presen {
    background-color: brown;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5vw;
}

.respu {
    font-weight: bold;
    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    font-size: 1.25vw;
}

.texto {
    font-weight: bold;
    font-size: 1.5vw;
}

.subt {
    font-size: 1.5vw;
}

#msg {
    color: red;
}

#danny {
    height: 45vh;
    width: 30vw;
}

#carcel {
    height: 50vh;
    border-radius: 20px;
    margin-left: 30%;
}